<section class="sl-section-container" ng-style="{'background-image': 'url({{$ctrl.slAboutChristmas1}})'}">
    <div class="sl-section-header">A guy that just loved christmas</div>
    <div class="sl-section-text">
        When Josh was younger he loved getting a letter fron Santa Clause, It created a love for the christmas spirit. He now wants to
        spread the christmas spirit to a generation where that spirit is ding, so he started Santa Letters. Where you can
        recieve a personal letter from Santa.
    </div>
</section>
<section class="sl-second-section-container" ng-style="{'background-image': 'url({{$ctrl.slAboutChristmas2}})'}">
    <div class="sl-second-section-text">
        We just want everyone to have a chance of being able to recieve christmas letters from Santa. Giving an opertunity for a child
        to live their dreams. Not only let our children to dream but expand their imaginations so that their future will
        be bright and full of cheer.
    </div>
</section>
<section class="sl-third-section-container" ng-style="{'background-image': 'url({{$ctrl.slAboutChristmas3}})'}">
    <div class="sl-section-header"></div>
    <div class="sl-third-section-text">
        Fully 86 percent in the poll believed in Santa as a child. And despite the multiethnic nature of the country, more than 60
        percent of those with children at home consider Santa important in their holiday celebrations now. Our goal is to
        raise this back up to the 80 percent.
    </div>
    <div class="sl-80-percent-container">
        <div class="sl-past-percent">Past</div>
        <div>
            <span>80%</span>
        </div>
    </div>
    <div class="sl-60-percent-container">
        <div class="sl-now-percent">Now</div>
        <div>
            <span>60%</span>
        </div>
    </div>
</section>