<!--Header-->
<!--todo: hamburger-->
<div class="sl-header">
    <!--productLogo-->
    <img ng-src="{{$ctrl.logoImage}}">
    
    <nav class="sl-nav">
        <a class="sl-logo" ui-sref="home" ui-sref-active="sl-activeTab">Santa Letters</a>
        <a class="sl-nav-items" ui-sref="products" ui-sref-active="sl-activeTab">Products</a>
        <a class="sl-nav-items" ui-sref="letter-layouts" ui-sref-active="sl-activeTab">Letter Types</a>
        <a class="sl-nav-items" ui-sref="about" ui-sref-active="sl-activeTab">About</a>
    </nav>
</div>