.sl-header{
    img{
        width:80px;
        height: auto;  
        margin-left: 56px;
    }
    .sl-nav{
        padding: 2px;
        font-size: 25px;
        padding: 3px;
        cursor: pointer;
        letter-spacing: 4px;
        
        .sl-logo{
            padding-right: 13px;
            color: red;
            text-decoration: none;
              &:hover{
                color: gold;
            }
        }
        .sl-nav-items{
            padding-right: 6px;
            color: green;
            text-decoration: none;
            &:hover{
                color: red;
            }
        }
    }
}