.sl-hero-contianer{
    margin: auto;    
    font-size: 19px;
    font-family: fantasy;
    height: 455px;
    width: 68%;
    margin-top: 14px;
    padding: 2px;
    border-radius: 3px;

    .sl-hero-button{
        margin: 0, auto;
        width: 50%;
    }
}