
.sl-homepage{
    .sl-hero-contianer{
        margin: auto;    
        font-size: 19px;
        font-family: fantasy;
        height: 455px;
        width: 78%;
        margin-top: 14px;

        .sl-hero-button {
            margin: 0, auto;
            width: 50%;
        }

        .sl-letter-writing-image {
            display: table;
            background-size: cover;
            background-position: center;
            margin: 10px auto;
            width: 100%;
            height: 383px;
            background-repeat: no-repeat;
        }

        .sl-hero-text-contianer {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            position: relative;
        }

        .sl-hero-button {
            height: 25px;
            width: 123px;
        }
}
    h1 {
        text-align: center;
        color: #ff4747;
        font-size: 20px;
        font-family: fantasy;
    }
    .sl-subtitle{
        text-align: center;
        font-family: fantasy;
        font-size: 18px;
        color:grey;
    }
    .sl-shelf-container{
        margin-top: 60px;
        text-align: center;
        font-family: fantasy;
        font-size: 18px;
        color:grey;
        padding-bottom: 40px;

        .sl-shelf-item{
            width: 70%;
            height: auto;
            padding: 12px;
        }
    }
    .sl-secondary-hero-container{
        margin:0 auto;

        .sl-secondary-hero-image {
            display: table;
            background-size: contain;
            margin: 6px;
            width: 608px;
            height: 384px;
            background-repeat: no-repeat;
            cursor: pointer;
        }
        .sl-secondary-hero-header {
            color: white;
            font-size: 26px;
            width: 46%;
            text-align: center;
            font-family: fantasy;
        }
        .sl-secondary-hero-link {
            color: white;
            font-size: 20px;
            font-family: fantasy;
        }
        .sl-shop-now-text{
            display: table-cell;
            vertical-align: middle;
            position: relative;
            left: 274px;
        }
        .sl-about-text{
            display: table-cell;
            vertical-align: middle;
            position: relative;
            left: 34px;
        }
    }
}