<div layout="column">
    <div class="sl-hero-contianer">
        <a class="sl-letter-writing-image" ng-style="{'background-image': 'url({{$ctrl.heroImage}})'}">
            <div class="sl-hero-text-contianer">
                <div>You better watch out....<br>Santa Clause is coming to town.</div>
                <div>Need to write Santa a letter</div>
                <md-button class="sl-hero-button" ui-sref="letter-layouts">Start Here</md-button>
            </div>
    </div>
    <div layout="row">
        <div flex>
            image
        </div>
        <div flex>
            image 2
        </div>
        <div flex>
            image 3
        </div>
    </div>
</div>